{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/tela_acidentes.css' %}">
{% endblock %}

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Acidentes</title>
</head>
<body>
    <div id="Semaforo-Content" class="container">
        <div class="left-section">
            <h1>ACIDENTES IDENTIFICADOS PELA IA</h1>
            <div id="line-semaforo"></div>
            <div id="Tabela-semaforo">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th width="50">Info+</th>
                            <th>Código</th>
                            <th>Endereço</th>
                            <th>Tipo</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th width="180">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rs in semaforos %}
                        <tr>
                            <td>
                                <a href="ver/{{ rs.id }}" class="btn btn-outline-primary">+Info</a>
                            </td>
                            <td>{{ rs.id }}</td>
                            <td>{{ rs.endereco }}</td>
                            <td>{{ rs.tipo }}</td>
                            <td>{{ rs.marca }}</td>
                            <td>{{ rs.modelo }}</td>
                            <td>
                                <a href="edit/{{ rs.id }}" class="btn btn-outline-success">Editar</a> | <a href="delete/{{ rs.id }}" class="btn btn-outline-danger">Deletar</a>
                            </td>
                        </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <p>INSIRA O LOCAL</p>
            <form action='/' method='post'>
                <input type='text' name='pesquisa' placeholder='Digite o id do semaforo'>
                <button type='submit'>Consultar</button>
            </form>
            <!-- Gravidade -->
            <select name="" id="">
                <option value="">Leve</option>
                <option value="">Média</option>
                <option value="">Grave</option>
            </select>
            <button><a href="/semaforo/aovivo/index.html">AO VIVO</a></button>
            <button>GRAVAR</button>
            <form action="post">
                <input type="text-area">
            </form>
        </div>
        <div class="right-section">
            <div class="control-container">
                <h2>CONTROLE</h2>
                <button class="control-button highlight">CHAMAR EMERGÊNCIA</button>
                <button class="control-button">DEFINIR MENSAGEM</button>
                <button class="control-button">IDENTIFICAR ENVOLVIDOS</button>
                <button class="control-button">SINCRONIZAR SEMÁFORO</button>
            </div>
            <div class="report-container">
                <div class="chart">
                    <div style="height: 40%;"></div>
                    <div style="height: 60%;"></div>
                    <div style="height: 50%;"></div>
                    <div style="height: 70%;"></div>
                </div>
                <button class="report-button">GERAR RELATÓRIO</button>
            </div>
        </div>
    </div>
</body>
</html>
